.caixa1{
    background-color: #EBEBEB;
    padding: 120px;
}

.img-inicio{
    width:30%;
    height: auto;
    display: block;
    margin: auto;
}

.paddingTop2{
    padding-top: 2%;
}

.caixa2{
    background-color: #CB6CE6;
    padding: 70px;
}

.img-sobre1{
    width:400px;
    height:400px;
    margin-left: 110px;
}

.logo-sobre{
    width: 200px;
}

.texto-sobre1{
    color: white;
    margin-top: 50px;
}

.titulo-sobre{
    font-weight: bold !important;
    color: #4A2B87 !important;
}

.caixa3{
    background-color: #EBEBEB;
    padding: 40px;
}

.padding{
    padding: 30px;
}

.caixa4{
    background-color: #CB6CE6;
    padding: 20px;
}

.titulo-equipe{
    font-weight: bold !important;
    color: white;
    margin: auto;
}

.logo-equipe{
    width: 50%;
    height: 20px;
    margin-left: 10px;
}

.box-equipe{
    display: flex; 
    align-items:center;
    margin: auto;
}