.caixa1{
    position: relative;
    padding: 120px;
 
}

.caixa1::before{
    content: "";
    background-image: url("../../assets/img/capa9.jpeg");
    background-size: 100% auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom:0px;
    left: 0px;
}

.img-inicio{
    position: relative;
    width:35%;
    height: auto;
    display: block;
    margin: auto;
}

.texto-inicio{
    position: relative;
    font-weight: bold !important;
}

.paddingTop2{
    padding-top: 2%;
}

.caixa2{
    background-color: #CB6CE6;
    padding: 70px;
}

.img-sobre1{
    width:400px;
    height:400px;
    margin-left: 110px;
}

.logo-sobre{
    width: 200px;
}

.texto-sobre1{
    color: white;
    margin-top: 50px;
}

.titulo-sobre{
    font-weight: bold !important;
    color: #4A2B87 !important;
}

.caixa3{
    background-color: #EBEBEB;
    padding: 40px;
}

.padding{
    padding: 30px;
}

.equipe{
    background-color: #CB6CE6;
    padding: 20px;
}

.titulo-equipe{
    font-weight: bold !important;
    color: white;
    margin: auto;
}

.logo-equipe{
    width: 50%;
    height: 20px;
    margin-left: 10px;
}

.box-equipe{
    display: flex; 
    align-items:center;
    margin: auto;
}

.nome{
    font-weight: bold !important;
    color: white;
}

.caixa4{
    background-color: #CB6CE6;
    width: 100%;
}

.foto-equipe{
    border-radius: 50%;
    width: 150px;
    margin-top: 10px;

}

.flex-equipe{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
}

.descricao-equipe{
    color: white;
}

.paddingTop5{
    padding-top: 5px;
}

.icon{
    color: white;
    margin: 10px;
}
.grafico1{
    width: 110%;
  
}
.fonte{
    text-align: justify;
}
.grafico2{
    width: 60%;
    margin-left: 70px;
}