.textos1{
    font-weight: bold !important;
    color: #4A2B87 !important;
 }
 
 .imagem{
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }

 