.textos1{
    font-weight: bold !important;
    color: #4A2B87 !important;
 }
 
 .imagem{
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
<<<<<<< HEAD
 }

 
=======
 } 

 .imagem2{
     padding-bottom: 0%;
 }

 .padimagem{
     padding-left: 35%;
     padding-bottom: 14%;
 }
>>>>>>> vinicius
