.text-decorator-none{
    text-decoration: none;
}
.botaoDeletar{
    border-color: #EBEBEB!important;
    background-color: #EBEBEB!important;
  
}
.botaoAtualizar{
    border-color: #EBEBEB!important;
    background-color: #CB6CE6 !important;
}