.caixa{
    background-color: #4A2B87;
    width: 100vh;
    height: 100vh;
    

}

.titulo{
   color: #4A2B87!important;
   font-weight: bold !important;
}

.botao{
    border-color: #EBEBEB !important;
    background-color: #CB6CE6;
    color: white !important;
}

.postagens{
    background-color: #EBEBEB;
    width: 100%;
}

