.titulo{
    color: #4A2B87!important;
    font-weight: bold !important;
}

.botao{
    border-color: #EBEBEB !important;
    background-color: #CB6CE6;
    color: white !important;
}

.postagens{
    background-color: #EBEBEB;
    width: 100%;
}

.bordaperfil{
    border-radius: 50%;
    padding: 10%;
}

.bordaparceiros{
    
    margin-left: 50px;
    border-radius: 20%;
    padding: 10%;
}

.perfil{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.userlogin{
    font-weight: bold !important;
    color: #4A2B87 !important;
}

.iconemulher{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}