.caixa{
    background-color: #4A2B87;
    padding: 50px;
    

}

.titulo{
   color: #4A2B87!important;
   font-weight: bold !important;
}

.botao{
    border-color: #EBEBEB !important;
    background-color: #CB6CE6;
    color: white !important;
}

.postagens{
    background-color: #EBEBEB;
    width: 100%;
}

.bordaperfil{
    border-radius: 50%;
}

